
.chat-box-cont::-webkit-scrollbar{
    width: 0px;
}

.chat-box-cont .chat{
    margin: 15px 0;
}

.chat-box-cont .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px -16px rgb(0 0 0 / 10%);
}

.outgoing{
    display: flex;
}

.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.incoming{
    display: flex;
    align-items: center;
}
.chat-box-cont .incoming i{
    height: 35px;
    width: 35px;
}

.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}

.typing-area{
    padding: 18px 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;

}
.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
